<header id="header">
  <div class="wrap bar">
    <a class="brand" href="/"><span class="inf">&#8734;</span><span>Approaching&nbsp;Infinity</span></a>
    <nav class="main" id="nav">
      <a href="/episodes/">Episodes</a>
      <a href="/#mission">Mission</a>
      <a href="/#about">About</a>
      <a href="/#listen">Listen</a>
      <a class="btn btn-red" href="/#listen">&#9654;&nbsp; Listen now</a>
    </nav>
    <button class="navtoggle" id="navtoggle" aria-label="Menu" aria-expanded="false">&#9776;</button>
  </div>
</header>
